<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>

	<% if @invalid_credentials %>
		<div>
			<%= @invalid_credentials %>
		</div>
	<% end %>

	<%= f.label :email %>
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.label :password %>
	<%= f.password_field :password, class: 'form-control' %>

	<%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "Create an account", new_user_path %></p>

